In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [31]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [32]:
df.head(8)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884

In [43]:
num_rows = df.shape[0]
print("Number of records in the dataset :",num_rows)

Number of records in the dataset : 9704

In [44]:
print("Number of fuel types presented in the dataset -", df.fuel_type.value_counts())

Number of fuel types presented in the dataset - fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [51]:
print("Number of columns in the dataset have missing values:\n",df.isnull().sum())

Number of columns in the dataset have missing values:
 engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [54]:
# maximum fuel efficiency of cars from Asia

In [55]:
df.origin.value_counts()

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

In [56]:
df1 = df[["origin","fuel_efficiency_mpg"]]
df1

      origin  fuel_efficiency_mpg
0     Europe            13.231729
1        USA            13.688217
2     Europe            14.246341
3        USA            16.912736
4     Europe            12.488369
...      ...                  ...
9699  Europe            15.101802
9700     USA            17.962326
9701     USA            17.186587
9702     USA            15.331551
9703    Asia            14.884467

[9704 rows x 2 columns]

In [57]:
df[df.origin== 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)