In [1]:
import pandas as pd

In [2]:
#Q1. Pandas version
# What's the version of Pandas that you installed?

In [21]:
print("the version of Pandas that i have installed is :",pd.__version__)

the version of Pandas that i have installed is : 2.3.1

In [22]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [23]:
df.head(8)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884

In [24]:
# Q2. Records count
# How many records are in the dataset?

In [25]:
num_rows = df.shape[0]
print("Number of records in the dataset :",num_rows)

Number of records in the dataset : 9704

In [26]:
# Q3. Fuel types
# How many fuel types are presented in the dataset?

In [27]:
print("Number of fuel types presented in the dataset -", df.fuel_type.value_counts())

Number of fuel types presented in the dataset - fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [28]:
# Q4. Missing values
# How many columns in the dataset have missing values?

In [29]:
print("Number of columns in the dataset have missing values:\n",df.isnull().sum())

Number of columns in the dataset have missing values:
 engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [30]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?

In [31]:
print("The maximum fuel efficiency of cars from Asia is :",df[df.origin== 'Asia'].fuel_efficiency_mpg.max())

The maximum fuel efficiency of cars from Asia is : 23.759122836520497

In [33]:
df.head(8)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,NaN,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884

In [34]:
# median value of horsepower column in the dataset

In [35]:
print("The median value of horsepower column in the dataset is :",df.horsepower.median())

The median value of horsepower column in the dataset is : 149.0

In [36]:
print("The mode value of horsepower column in the dataset is :",df.horsepower.mode())

The mode value of horsepower column in the dataset is : 0    152.0
Name: horsepower, dtype: float64

In [37]:
df['horsepower'] = df['horsepower'].fillna(152)
df.head (8)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,152.0,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884

In [40]:
# new median value of horsepower column in the updated dataset

In [41]:
print("The median value of horsepower column in the dataset is :",df.horsepower.median())

The median value of horsepower column in the dataset is : 152.0

In [42]:
# new median value of horsepower column in the updated dataset has increased from older dataset

In [43]:
# Q7. Sum of weights
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

In [45]:
df.origin.unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [51]:
# Select all the cars from Asia
df_Asia = df[df.origin=='Asia']
df_Asia.head(8)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
34,150,2.0,149.0,2844.227534,17.3,2014,Asia,Diesel,Front-wheel drive,0.0,15.353788
38,190,5.0,158.0,3761.994038,NaN,2019,Asia,Gasoline,Front-wheel drive,1.0,11.645724
43,170,4.0,123.0,2957.681110,14.4,2012,Asia,Diesel,All-wheel drive,-1.0,15.039797

In [84]:
# Select only columns vehicle_weight and model_year & Select the first 7 values
df_Asia1 = df_Asia[["vehicle_weight","model_year"]]
df_new = df_Asia1.head(7)
df_new

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [85]:
# Get the underlying NumPy array. Let's call it X.
X = df_new.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [86]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
import numpy as np
XTX = X.T @ X
print("XTX:\n", XTX)

XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [87]:
# Invert XTX.
XTX_inv = np.linalg.inv(XTX)
print("Inverse of XTX:\n", XTX_inv)

Inverse of XTX:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [88]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [89]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv @ X.T @ y
print("w:\n", w)

w:
 [0.01386421 0.5049067 ]

In [90]:
# What's the sum of all the elements of the result?
sum_w = w.sum()
print("Sum of all elements of w:", sum_w)

Sum of all elements of w: 0.5187709081074016